#btn_senha {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    padding: 1px;
}

main {
    height: 100vh;

    background-image: url(../assets/imgs/fundoTelaFormatado.jpg);
    background-size: cover;
    background-position: top;
}

/* Container Cadastro */

.containerCadastro {
    background-color: #C2B280;
    margin: auto;

    display: flex;
    height: 500px;
    width: 1000px;

    border-radius: 12px;

    box-shadow: 0px 0px 5px 1px black;
}

.tituloCadastro {
    width: 80%;

    background: linear-gradient(to left, #A8862B, #D4AF37,  #D4AF37, #F0D58C);

    margin-bottom: 12px;
    padding: 0.4% 0.4%;
    border: 8px solid #524632;
    box-shadow: 3px 2px 5px 1px black;
    display: flex;

    align-self: center;
    justify-content: space-between  ;
}

.conteudoCadastro {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: left;
    justify-content: space-around;
    padding: 2%;
    margin: auto;

    height: 100%;
    width: 50%;
}

.conteudoCadastro input, select {
    width: 160px;
}

.conteudoCadastro .containerInput {
    display: row;
    flex-direction: row;

    justify-content: space-between;
    width: 400px;
}

.conteudoCadastro .containerInput .inserirInput {
    display: flex;
    flex-direction: row;

    justify-content: space-between;

    width: 300px;
}

.inputs {
    padding: 3% 1%;
}

.imgCadastro {
    height: 500px;
    width: 50%;

    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

.imgCadastro img {
    height: 100%;
    width: 100%;

    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}