/* Geral */

h1 {
    text-align: center;
}

/* Estilização Tabela */

table {
    padding: 1% 0%;
    margin: 0px 12px;
}

th, td, tr{
    padding: 1px 8px;
    height: 25px;
    width: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-wrap: wrap;

    border-color: #D4AF37;
    color: black;
}

th {
    border-bottom: 2px solid #D4AF37;
}

td {
    border: 1px solid #A8862B;
}

/* Reescrevendo tamanho da Main */

main {
    flex-direction: row;

    height: 91.8%;
    width: 100%;
}

.dash {
    display: flex;
    flex-direction: row;
    width: 100%;
}

/* Lateral */

main .lateral {
    width: 25vw;
    min-height: 100%;
    /* background-color: white; */
    border-right: 2px solid #524632;

    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}

.lateral>.titulo {
    /* width: 80%; */
    height: 12%;

    align-content: center;

    background: linear-gradient(to left, #A8862B, #D4AF37,  #D4AF37, #F0D58C);

    margin: 11px;
    
    padding: 0.4% 0.4%;
    border: 8px solid #524632;
    box-shadow: 3px 2px 5px 1px black;
    display: flex;

    align-self: center;
    justify-content: space-between;
}

.lateral .kpis {
    /* background-color: slateblue; */
    width: 100%;
    height: 25%;
    padding: 1% 2%;
    /* color: white; */

    font-size: 20px;
    line-height: 30px;
}

.kpis .kpi .dado {
    padding: 0.1%;
    /* border: 0.1px solid #A8862B; */
    border-bottom: 0.25px solid #A8862B;
    
    color: #D4AF37;
    font-weight: 600;
}

.lateral .painel {
    min-height: 58%;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 2%;
}

.painel .conquistas {
    height: 98%;
    width: 94%;
    padding: 2%;

    background-color: #FFFAE3;
    /* border: 1px solid #A8862B; */
    border-left: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    box-shadow:  0px 0px 2px 0.25px black;
    border-radius: 12px;
}

/* Estização header do leituras */

.painel .header{
    display: flex;
    flex-direction: column;
    
    justify-content: space-between;
    align-items: center;

    padding: 1% 5%;
    margin-bottom: 2%;

    height: 16%;

}

.header h2 {
    color: #524632;
}

/* Estilização Conquistas */


.painel .lista {
    box-shadow: inset 0px 0px 2px 0.25px black;
    border-radius: 8px;
    height: 40vh;
    overflow-y: auto;

    display: flex;
    justify-content: center;

    background-color: white;  
}


/* Dashs */

main .centro {
    width: 75vw;
    /* height: 100%; */
    height: 91.8vh;
    background-color: #C2B280;
}

.centro .andar {
    width: 100%;
    height: 50%;

    padding: 0.5% 0%;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.centro .cima {
    border-bottom: 1px solid black;
}

.centro .grafico {
    /* background-color: #C2B280; */
    /* width: 45%; */
    padding: 0.5% 1%;
    background-color: #FFFAE3;
    border-left: 2px solid black;
    border-top: 0.5px solid black;
    border-bottom: 0.5px solid black;
    
    box-shadow: 0px 0px 2px 0.25px black;

    /* width: 35%; */
    padding-top: 0px;
}

/* Graficos */

.grafico {
    /* padding: 1%; */
    height: 98%;
    /* width: 30vw; */
    /* background-color: #FCFCFC; */
    /* box-shadow: inset 0px 0px 4px 1px black; */
    /* border: 1px solid black; */

    
    /* border: 1px solid black; */
    border-radius: 12px;
}

/* Estilização */

.centro div {
    display: flex;
    flex-direction: row;
}


