.imgSign {
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

.imgSign img {
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

.logar {
    display: flex;
    flex-direction: column;

    justify-content: space-around;
    /* align-items: center; */

    width: 100%;
    height: 50%;
}

.logar input {
    height: 50px;
    width: 250px;
}

.logar .containerInput, .inserirInput {
    width: auto;
    height: auto;
    margin: 0px;
    padding: 0px;
}

/* #btn_senha {

} */

.containerInput {
    flex-direction: row !important;
    
    display: flex;
    justify-content: center;
}

.inserirInput {
    width: auto !important;
    margin-left: 16px;
}

#ipt_email {
    margin-right: 16px;
}

