.imgSign {
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

.imgSign img {
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

.setor {
    width: 100%;
    height: 33%;
    display: flex;
    flex-direction: row;

    margin-left: 16px;
}


.msgErro {
    text-align: center;
    line-height: 15px;
    font-size: 14px;
    margin-top: 4px;
    color: #524632;
}


#btn_senha {
    align-self: start;
}

.btnCadastrar {
    background-color: white;
}