/* Imagem título */
.head {
    background-image: url(../assets/imgs/fundoTelaFormatado.jpg);
    width: 100%;
    height: 45vh;
    background-size: cover;
    background-position: top;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    text-shadow: 2px 2px 2px black;

    box-shadow: 0px 0px 8px 2px lightblue;
}

.head h1 {
    color: #FCFCFC;
}

.head h6 {
    color: #FCFCFC;
}

/* Corpo do Site */

main {
    background-color: #FFFAE3;
}

main .body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0.5%;
    width: 100%;
}

/* Intervalos */
.intervalo {
    background-image: url(../assets/imgs/fundoTelaFormatado.jpg);
    width: 100%;
    height: 35vh;
    background-size: cover;

    margin: 4vh 0vw;
    
    box-shadow: inset 0px 0px 40px 2px lightblue;
}

.intervalo1 {
    background-position: 0% 31.9%;
}

.intervalo2 {
    background-position: 0% 56.1%;
}

.intervalo3 {
    background-position: 0% 80.4%;
}


/* Seção - Artigos do Contexto */



.artigos .artigo {
    display: flex;
    flex-direction: row;
    margin-top: 2%;

    background-color: #FCFCFC;
    
}

.artigos .artigo1 {
    box-shadow: 3px 0px 4px 0.5px black;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

.artigos .artigo2 {
    box-shadow: -3px 0px 4px 0.5px black;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;

}


.artigos .artigo .texto {
    padding: 1%;
    width: 60%;
    height: 45vh;

}

.artigos .artigo .texto h3 {
    font-size: 32px;
}

.artigos .artigo .texto p {
    margin-top: 1.5%;
    margin-left: 1.5%;
    font-size: 20px;
    width: 80%;
    text-align: justify;
}

.artigos .artigo .textoEsquerdo {
    display: flex;
    flex-direction: column;
    justify-content: right;
}

.artigos .artigo .imagem {
    padding: 1%;
    width: 40%;
    height: 45vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.artigo img {
    height: 250px;
}

/* Seção - Livros Fundamentais */

.livros {
    background-color: #C2B280;
    width: 98.9vw;
    height: 825px;
    padding: 0% 1% !important;
}

.roda {
    background-image: url(../assets/imgs/fundoEstante.jpg);
    background-size: cover;
    
    width: 98.9vw;
}

.rodateto {
    background-position: 0% 9.5%;
    
    height: 46.5px;
    margin-bottom: 1vh;
}

.rodape {
    background-position: 0% 88.45%;
    
    height: 58px;
    justify-self: flex-start;
}

.estante {
    box-shadow: 3px 2px 9px 1px black;
    background-color: #FCFCFC;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    align-items: center;

    height: 360px;
    width: 1120px;
}

.livro {
    background-color: #524632;
    border: 5px solid #AF8751;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    box-shadow: inset 10px -6px 5px 10px #816742;
    
    height: 100%;
    width: 25%;

    padding: 0.5%;
}

.imgLivro {
    margin-left: 16px;
    margin-top: 16px;

    display: flex;
    justify-content: left;

    height: 320px;
    width: 218px;
    background-color: white;
    box-shadow: 3px 0px 5px 0.25px black;
    

    border: 0.5px solid black;
}

.imgLivro img {
    width: 210px;
    border-right: 1px solid black;
}

.imgLivro:hover {
    cursor: pointer;
}

/* Seção - Gráficos Pesquisa */

.dados {
    width: 100%;
}

.graficos {
    background-color: #FCFCFC;
    border: 7px solid #AF8751;

    box-shadow: inset 0px 0px 5px 1px black;

    padding: 3% 0.5%;
    display: flex;
    justify-content: space-around;
    width: 90%;
    height: 70vh;
}

.grafico {
    display: flex;
    flex-direction: row;

    justify-content: space-around;
    align-items: center;

    width: 45%;
    height: 90%;
}

.grafico canvas {
    width: 100%;
    height: 100%;
}

.explicacao p {
    margin-top: 1%;
    text-align: justify;
}

/* Seção - ODS */

.ODS {
    width: 100%;
}

.ODS .cards {
    background-color: #5B92E5;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    border-radius: 12px;

    margin: 2% 0%;
    padding: 1.5% 0%;

    width: 90%;
    box-shadow: inset 0px 0px 5px 1px #FFFAE3;
}

.ODS .card {
    width: 18vw;
    height: 18vw;
}

.ODS .card:hover{
    cursor: pointer;
}

.ODS .card img {
    box-shadow: 0px 0px 2px 0.5px black;
}

/* Seção Objetivos */

.objetivos .objetivo .imagem {
    padding: 1%;
    width: 35%;
    height: 64vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.objetivo img {
    height: 56vh;
    width: 56vh;
    justify-self: center;
    align-self: center;
}

.objetivos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.objetivos .objetivo {
    display: flex;
    flex-direction: row;
    margin-top: 1%;
    
    /* border-radius: 12px; */
}


.objetivos .objetivo .texto {
    background-color: #39A2AE;
    box-shadow: 0px 0px 8px 1px gray;

    padding: 1%;
    width: 70%;
    height: 60vh;

    display: flex;
    flex-direction: column;
    justify-content: top;
}

.objetivos .objetivo .texto h3 {
    font-size: 32px;
}

.objetivos .objetivo .texto p {
    margin-top: 1.5%;
    margin-left: 1.5%;
    font-size: 20px;
    width: 95%;
    text-align: justify;
}

.objetivos .objetivo .imagem {
    display: flex;
    justify-content: center;
    align-items: center;
}

.objetivos .objetivo img {
    justify-self: center;
    align-self: center;

    height: 80%;
    width: 80%;
}