/* Reescrevendo tamanho da Main */

main {
    height: 91.8vh;
}

/* Estilização painel */

.painel {
    display: flex;
    flex-direction: column;

    background-color: #FCFCFC;
    border-radius: 12px;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.2);
    padding: 20px;
    height: 90vh;
}

.leituras {
    height: 90vh;
}

.lista {
    box-shadow: inset 0px 0px 2px 0.5px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    height: 70vh;
    overflow-y: auto;
}

table {
    padding: 1% 0%;
    margin: 0px 12px;
    height: 90vh;
}

/* Estização header do Painel */

.painel .header{
    display: flex;
    flex-direction: column;
    
    justify-content: space-between;
    align-items: center;

    padding: 1% 5%;
    margin-bottom: 2%;
}

.painel .header .titulo{
    display: flex;
    align-items: center;
}

.painel .header .adicionarLeitura{
    display: flex;
    width: 100%;

    justify-content: right;
}


/* Estilização do corpo do painel */

th, td, tr{
    padding: 2px 8px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

th {
    border-bottom: 2px solid #524632;
}

td {
    border: 1px solid #524632;
}